.footer,body,html {
	background-color: #000;
}

body{
	width: 100%;
    height: 100%;
}
* {
	margin:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	-webkit-box-sizing: border-box;
	box-sizing:border-box
}
.intro{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 100;

    opacity:1;
    visibility:visible;
    transition:visibility 0.3s linear,opacity 0.3s linear;
}
.intro img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: contain;
}
.intro h1
{
    position: relative;
    color: white;
    font-size: 90px;
    font-weight: 60px;
    letter-spacing: 32px;
    text-transform: uppercase;
    line-height: 60px;
    z-index: 1;
}
.content-wrapper {
	height: 100%;
    width: 100%;
    position: relative;
}
.content canvas {
    position: absolute;
    z-index: 0;
}
.content{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	width:100%;
	height:100%;
	z-index:1;
	-webkit-box-orient:vertical;
	-ms-flex-direction:column;
	flex-direction:column
}
.scene {
	position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 100%;
	height: 100%;
	background: linear-gradient(#e4e0ba, #f7d9aa);
}
.scroll, body, html {
    overflow: hidden;
}
#canvas, body, html {
    width: 100%;
    height: 100%;
}

.footer, .header {
    display: -webkit-box;
    display: -ms-flexbox;
    z-index: 10;
    position: relative;
}
.header {
    display: flex;
    width: 100%;
    height: 70px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.footer {
    width: 100%;
    height: 60px;
    color: #fff;
    padding: 0 6%;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.menu{
	position: absolute;
	top:8vh;
	left:0;
	width: 100%;
	text-align: center;
    pointer-events: none;
	z-index: 1;
}
.menu h1 {
    font-size: 4.5em;
    line-height: 1;
    margin: 0;
    letter-spacing: -0.025em;
    color: #8C6057;
}
.container {
	width: 30rem;
	height: 18rem;
	margin-top: 8rem;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	border-radius: 16px;
	background: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	position: relative;
	z-index: 1;
	background: inherit;
	overflow: hidden;
}
@media only screen and (max-width: 800px) {
    .header {
        height:50px
    }

    .header-logo svg {
        width: 135px
    }
}
@media only screen and (max-width:800px) {
	.footer {
	height:50px;
	padding:0 5%
	}
    .intro h1{
        font-size: 60px;
        letter-spacing: 19px;
        line-height: 35px;
    }
}